# Environment Configuration #
#############################
RAILS_ENV=development

# General Configuration #
#########################
LANG=en_US.UTF-8
RAILS_SERVE_STATIC_FILES=
SECRET_KEY_BASE=

# MySQL Configruation #
#######################
DB_HOSTNAME=mysql
DB_PORT=3306
DB_USERNAME=suyc
DB_PASSWORD=suyc
DB_NAME=suyc

# 3rd party API integrations #
##############################
MAPBOX_API_KEY=

# MLab's Big Query Configuration #
##################################
MLAB_BIGQUERY_EMAIL=
MLAB_BIGQUERY_PRIVATE_KEY=
MLAB_BIGQUERY_PRIVATE_KEY_PASSPHRASE=
