<div class='title-container'>
  <div class='background-container'>
    <h1><%= title %></h1>
    <div class='share-website'>Share this website to bring better internet service to your region!</div>

    <%= render partial: 'shared/social_sharing_links' %>
  </div>
</div>
