<div class='bottom-description'>
  <p>
    SpeedUp aims to provide on the ground truth about the Internet in your region. Our national broadband map provides transparency: real Internet speeds received, actual prices paid, and level of service experienced. Check your speed and contribute to the map. We DO NOT collect personal data. We do ask for your location to map internet speeds across your region.
  </p>
</div>
