<div class='container white-section'>

	<div class='col-md-12'>
      <div class='banner-text results-banner-text'>
        This test helps understand the quality and cost of internet service. We do not collect any personal data. By providing your location, you can help reveal which areas have slow or overpriced internet.
      </div>
    </div>
  </div>
  <!-- <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center export-data-div'>
    <%= link_to 'Export Data', region_export_csv_region_submissions_path, method: :post, class: 'btn btn-lg btn-primary export-btn' %>
  </div> -->

