<div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered'>
  <div class="row">
    <h2 class='text-center'>Median Speed by ISP</h2>
    <div id='median_speed_by_isp_chart'></div>
  </div>
</div>

<div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered'>
  <div class="row">
    <h2 class='text-center'>Speed Breakdown by ISP</h2>
    <div id='speed_breakdown_by_isp'></div>
  </div>
</div>

<div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered'>
  <div class="row">
    <h2 class='text-center'>Number of Tests Per ISP</h2>
    <div id='tests_per_isp_chart'></div>
  </div>
</div>