<div class='container white-section'>
  <div class="row">
    <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered'>
      <h1 class='text-center'>Explore the Data</h1>

      <p class='text-center explore-data-desc'>Use the below filters to view speed test data over time. Please note that these filters only control the data below, and not the map views at the top of the page.</p>

      <%= render 'stats_filters' %>

      <div id='stats_loader' class='col-xs-12 col-sm-8 col-md-12 col-lg-12 text-center'>
        <%= image_tag 'loader.gif' %>
        <div class='loading-spinner-text'>Loading Stats Data...</div>
      </div>

      <div class='stats-section blurred'>
        <%= render 'speed_test_breakdown' %>
        <%= render 'charts' %>
      </div>
    </div>
  </div>
</div>


