<% content_for :title, 'Speed Up Internet Region Speed Test Results' %>
<% content_for :description, 'See how fast your internet speeds are with the Speed Up internet speed test' %>


<div class='title-container'>

	<div class='background-container'>
		<%= render 'show_results', region_submission: region_submission %>
	</div>
</div>
<%= hidden_field_tag :connection_type, region_submission.testing_for %>
