<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-centered table-responsive bdrNone resultTableForDesktop'>
    <% if region_submission.zip_code.blank? %>
      <div class='col-md-12 col-xs-12'>
    <% else %>
      <div class='col-md-6 col-xs-12'>
    <% end %>
        <h3 class='text-center'>Your Results</h3>
        <table class='col-md-12 text-left'>
          <tr>
            <td class='text-right'><h4>Download Speed</h4></td>
            <td class='text-left'><h4><%= print_speed(submission.actual_down_speed) %></h4></td>
          </tr>
          <% unless region_submission.testing_for == 'Mobile Data' %>
            <tr>
              <td class='text-right'd>Upload Speed</td>
              <td class='text-left'><%= print_speed(submission.actual_upload_speed) %></td>
            </tr>
          <% end %>
          <tr>
            <td class='text-right'>Ping</td>
            <td class='text-left'><%= print_ping(submission.ping) %></td>
          </tr>
        </table>
      </div>
    <% if !region_submission.zip_code.blank? %>
      <div class='col-md-6 col-xs-12 text-left'>
        <h3 class='text-center'>Comparison</h3>
        <%= render partial: 'result_comparison_table', locals: {region_submission: submission} %>
      </div>
    <% end %>
    </div>
  </div>
</div>
