<div class='text-center find-more-div'>
This website is an open source project which is always open to new contributors. To join in, visit
<%= link_to 'here.', 'https://github.com/Hack4Eugene/SpeedUpAmerica', target: '_blank', rel: 'noopener' %>
</div>