<div class='text-center find-more-div' style="background-color: white; padding-bottom: 1em">
This website is an open source project which is always open to new contributors. To join in, 
<%= link_to 'visit us on GitHub.', 'https://github.com/Hack4Eugene/SpeedUpAmerica', target: '_blank', rel: 'noopener' %>
</div>