<div class='title-container'>
  <div class='background-container'>
    <div class='cover-image-overlay'>
      <h1><%= title %></h1>
      <div class='share-website text-center'>We want all of our residents to have the internet you pay for. Help us start the journey by taking the speed test <br> below to increase transparency around internet costs and quality for San Jose residents.</div>

      <%= render partial: 'shared/social_sharing_links' %>

    </div>
  </div>
</div>
