<div class='row'>
  <div class='form-group col-md-12'>
    <div class='row'>
      <%= f.label :additional_comments, class: 'col-md-6' do %>
        Additional Comments:
        <span class='comments-text'>(especially if you were not able to get your first choice of provider)</span>
      <% end %>

      <div class='col-md-6 restricted-field text-left'>
        <%= f.text_area :additional_comments, rows: 5, class: 'form-control pull-right' %>
      </div>
    </div>
  </div>
</div>
