<div class='bottom-description'>
  <p>
    The SpeedUpSanJose project is designed to help SanJose understand the quality and cost of Internet service within the County. By answering a few questions you can help increase transparency around Internet speeds and costs for SanJose residents and businesses. We DO NOT collect personal data in any way, shape, or form. We do ask for your location to help determine if there are areas of SanJose that are consistently experiencing slow Internet speeds.
  </p>
</div>
