<div class='bottom-description'>
  <p>
    The SpeedUpAmerica project is designed to help Americans understand the quality and cost of internet service provided to our citizens. By answering a few questions you can help increase transparency around internet speeds and costs for residents. We DO NOT collect personal data in any way, shape, or form. We do ask for your location to help determine if there are areas of America that are consistently experiencing slow internet speeds.
  </p>
</div>
