<div class='modal fade' id='error-geolocation' tabindex='-1' role='dialog' aria-labelledby='mySmallModalLabel'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <%= button_tag '×', type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { hidden: 'true' } %>
        <h4 class='text-center'>Please enable Location!</h4>
      </div>

      <div class='modal-body'>
      <div class='row'>
          <div class='col-md-12'>
            <h5 class='text-center'>
              <b>Safari Browser:</b> Please turn on WiFi and enable
              <%= link_to 'Location Services', 'https://support.apple.com/en-us/HT204690', target: '_blank', rel: 'noopener' %>.
            </h5>
            <h5 class='text-center'>
              <b>Firefox Browser:</b> Please consider updating your browser's
              <%= link_to 'Location Service', 'https://wiki.archlinux.org/index.php/Firefox#Geolocation_does_not_work', target: '_blank', rel: 'noopener' %>.
            </h5>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <h5 class='text-center'>
              In order to use your browser's location for the Speed Test, please allow location services. This is to ensure that all speed tests are submitted from the zip-code area only.
            </h5>
          </div>
        </div>
      </div>

      <div class='modal-footer'>
        <%= button_tag 'Close Popup', type: 'button', class: 'btn btn-primary', data: { dismiss: 'modal' }, aria: { hidden: 'true' } %>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</div>
