<div class='modal fade' id='error-position_unavailable' tabindex='-1' role='dialog' aria-labelledby='mySmallModalLabel'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <%= button_tag '×', type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { hidden: 'true' } %>
        <h4 class='text-center'>We noticed you are using Safari.</h4>
      </div>

      <div class='modal-body'>
      <div class='row'>
          <div class='col-md-12'>
            <h5 class='text-center'>
              <b>Safari Browser:</b> Please Turn on WiFi and
              <%= link_to 'Location Services', 'https://support.apple.com/en-us/HT204690', target: '_blank', rel: 'noopener' %>.
            </h5>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <h5 class='text-center'>
              Safari requires that your WiFi is turned on and your Location Services enabled. Alternatively, you can run this test using a different web browser including, Chrome and Firefox.
            </h5>
          </div>
        </div>
      </div>

      <div class='modal-footer'>
        <%= button_tag 'Close Popup', type: 'button', class: 'btn btn-primary', data: { dismiss: 'modal' }, aria: { hidden: 'true' } %>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</div>
