<div id='form-step-2b' class='hide form-fields'>
  <div class='form-group col-md-12'>
    <div class='row'>
      <%= f.label :provider, 'Who is your provider?', class: 'col-md-6 text-center' %>

      <div class='col-md-6'>
        <%= f.select :provider, provider_list({provider_list_type: 'mobile-form'}), {}, class: 'form-control pull-right', disabled: true %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <label class='optional-text'>The below questions are optional:</label>
    </div>
  </div>

  <%= render 'rating', f: f %>

  <div class='clearfix'></div>

  <%= render 'submit_button_and_description' %>
</div>
