<div class='form-group rating-container col-md-12'>
  <div class='row'>
    <%= f.label :rating, 'Is this service meeting your expectations for internet speed and value?', class: 'col-md-12' %>

    <div class='col-md-12 rating-star-margin'>
      <span class='rating-text'>Strongly Disagree</span>
      <span class='rating-text'>Disagree</span>
      <span class='rating-text'>Neutral</span>
      <span class='rating-text'>Agree</span>
      <span class='rating-text'>Strongly Agree</span>
      <%= f.text_field :rating %>
    </div>
  </div>
</div>
