<div class='row'>
  <div class='form-group col-md-6 col-md-offset-6'>
    <div class='col-md-12 text-center'>
      <%= button_tag 'Test My Speed!!', type: 'button', class: 'test-speed-btn col-md-12' %>
      <p class='location-warning'>(Note: Please, allow to share your location to take a test.)</p>
      <p class='internet-error hide'>Please make sure you have Internet Connection</p>
    </div>
  </div>
</div>

<%= render partial: 'shared/info_link' %>
