<div class='container white-section'>
  <div class='row'>
    <div class='col-md-12'>
      <h2 class='text-center margin-top-40 margin-bottom-40'>About SpeedUpAmerica</h2>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 banner-static'>
      <%= image_tag 'banner.png' %>
    </div>

    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
      <div class='banner-text results-banner-text'>
        SpeedUpAmerica helps Americans understand the quality and cost of their internet service. We do NOT collect any personal data. By providing your location, you can help reveal which areas of America have slow or overpriced internet. 
      </div>
    </div>
  </div>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center export-data-div'>
    <%= link_to 'Export Data', export_csv_submissions_path, method: :post, class: 'btn btn-lg btn-primary export-btn' %>
  </div>

  <div class='text-center find-more-div'>
    Questions about speedupamerica.com? Find more information
    <%= link_to 'here.', 'https://github.com/Hack4Eugene/SpeedUpAmerica', target: '_blank' %>
</div>
</div>
