<div class='container white-section'>
  <div class='row'>
    <div class='col-md-12 text-center margin-top-40 margin-bottom-20'>
      <h1>Residential Internet Test Results</h1>
      <em>*Data based on <%= number_with_delimiter(@home_submissions.count) %> speed tests collected from user submissions at www.speedupsanjose.com</em>
      <h2 class="padding-top-40 padding-bottom-30">All Residential Speed Tests</h2>
    </div>
    <div class="clearfix"></div>
    <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered'>
      <div id='all_residential_speed_chart'></div>
    </div>
    <div class="clearfix"></div>
    <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered'>
      <div class='zipcode-section hide-on-mobile'>
        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 mobile-avg-speed'>
          <div class='red-text'>
            <span class='home-speed-0-to-5 speed-value'></span>
            of tests were <span class='value-comparison'>SLOWER THAN 5 Mbps</span>
          </div>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 mobile-avg-speed'>
          <div class='green-text text-right'>
            <span class='home-speed-101-to-200 speed-value'></span>
            of tests were <span class='value-comparison'>FASTER THAN 100 Mbps</span>
          </div>
        </div>

        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 mobile-avg-speed'>
          <div class='red-text'>
            <span class='home-speed-6-to-25 speed-value'></span>
            of tests were <span class='value-comparison'>SLOWER THAN 25 Mbps</span>
          </div>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 mobile-avg-speed'>
          <div class='green-text text-right'>
            <span class='home-speed-201-to-500 speed-value'></span>
            of tests were <span class='value-comparison'>FASTER THAN 250 Mbps</span>
          </div>
        </div>
      </div>

      <div class='zipcode-section show-on-mobile'>
        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 mobile-avg-speed'>
          <div class='red-text'>
            <span class='home-speed-0-to-5 speed-value'></span>
            of tests were <span class='value-comparison clearfix'>SLOWER THAN 5 Mbps</span>
          </div>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 mobile-avg-speed'>
          <div class='red-text'>
            <span class='home-speed-6-to-25 speed-value'></span>
            of tests were <span class='value-comparison clearfix'>SLOWER THAN 25 Mbps</span>
          </div>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 mobile-avg-speed'>
          <div class='green-text text-right'>
            <span class='home-speed-101-to-200 speed-value'></span>
            of tests were <span class='value-comparison clearfix'>FASTER THAN 100 Mbps</span>
          </div>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 mobile-avg-speed'>
          <div class='green-text text-right'>
            <span class='home-speed-201-to-500 speed-value'></span>
            of tests were <span class='value-comparison clearfix'>FASTER THAN 250 Mbps</span>
          </div>
        </div>
      </div>
    </div>

    <%= render 'speed_comparison_tables' %>
    <%= render 'home_isps_report' %>
  </div>
</div>
