<div class='row'>
  <div class='col-md-12 text-center'>
    <h1 class='text-center margin-top-40'>Which ISPs are San Jose residents Using for Home Internet?</h1>

    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-9 col-centered'>
       <div id='home_internet_isps_chart'></div>
    </div>
    <div class="clearfix"></div>
    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered margin-top-40'>
        <h1 class="margin-top-40 margin-bottom-30">ATT or Comcast?</h1>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 mobile-mrg-bottom-30'>
          <h1 class="margin-top-40 margin-bottom-30">ATT</h1>
        </div>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'></div>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
          <h1 class="margin-top-40 margin-bottom-30">Comcast</h1>
        </div>
      </div>
    </div>
    <div class="clerfix"></div>
    <div class='row margin-top-40 margin-bottom-70'>
      <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered'>
      <div class="average-speed">
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
          <span class='att-avg-down-speed speed-value'><%= median_down_speed(@home_submissions, 'ATT') %> Mbps</span>
        </div>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
          Median User-Reported Download Speed
        </div>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
          <span class='twc-avg-down-speed speed-value'><%= median_down_speed(@home_submissions, 'Comcast xfinity') %> Mbps</span>
        </div>
        </div>
      </div>
      <div class="clerfix"></div>
      <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered'>
      <div class="average-speed">
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
          <span class='att-avg-cost speed-value'>$<%= average_cost('ATT') %></span>
        </div>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
          Median User-Reported Cost per Mbps
        </div>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
          <span class='twc-avg-cost speed-value'>$<%= average_cost('Comcast xfinity') %></span>
        </div>
      </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <h1 class='margin-bottom-40'>Speeds reported through SpeedUpSanJose:</h1>

    <div class='row'>
      <div class='col-md-12'>
        <div class='col-md-6'>
        <h4>ATT Residential Speeds</h4>
          <div id='att_residential_speeds_chart'></div>
        </div>

        <div class='col-md-6'>
          <h4>Comcast Residential Speeds</h4>
          <div id='comcast_residential_speeds_chart'></div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
      <h1 class='text-center margin-top-60 margin-bottom-40'>Satisfaction Ratings:</h1>

        <div class='col-md-6'>
          <h4>ATT Satisfaction Ratings</h4>
          <div id='att_satisfaction_chart'></div>
        </div>
        <div class='col-md-6'>
          <h4>Comcast Satisfaction Ratings</h4>
          <div id='comcast_satisfaction_chart'></div>
        </div>
      </div>
    </div>
  </div>
</div>
