<div id='map-container'>
  <div class='row mapbox-heading'>
    <h3>View all tests from SpeedUpLouisville below:</h3>
  </div>
  <div>
    <div>
      <div id='all_results_map' class='map col-xs-12 col-sm-8 col-md-8 col-lg-8'></div>
      <div id='loader' class='col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center'>
        <%= image_tag 'loader.gif' %>
        <div class='loading-spinner-text'>Loading Map Data...</div>
      </div>

      <%= render partial: 'filters' %>
    </div>
  </div>
</div>
