<div class='container white-section'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h1 class="margin-top-40 margin-bottom-20">Mobile data Internet Report</h1 >
      <em>*Data based on <%= number_with_delimiter(@mobile_submissions.count) %> speed tests collected from user submissions at www.speedupsanjose.com</em>
    </div>
    <div class="clearfix"></div>
    <div class='margin-top-60'>
      <div class='col-md-6'>
        <h3 class="text-center">Service Provider Usage</h3>
        <div id='mobile_internet_isps_chart'></div>
      </div>
      <div class='col-md-6'>
        <div class="avrg-section">
          <h4>Median Speed:
            <span class='mobile-average-speed'>
              <%= internet_speed(@mobile_submissions, 'median') %> Mbps
            </span>
          </h4>
          <h4>Fastest Speed:
            <span class='mobile-fastest-speed'>
              <%= internet_speed(@mobile_submissions, 'fastest') %> Mbps
            </span>
          </h4>
          <h4>Slowest Speed:
            <span class='mobile-slowest-speed'>
              <%= internet_speed(@mobile_submissions, 'slowest') %> Mbps
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div>
      <div class="margin-top-40 margin-bottom-40">
        <div class='col-md-6'>
          <h4>Average Download Speeds by Provider</h4>
          <div id='mobile_isps_average_speed_chart'></div>
          <p class='text-center'>Megabits per second</p>
        </div>
        <div class='col-md-6'>
          <h4>Mobile Provider Satisfaction Rating</h4>
          <div id='mobile_provider_safisfaction_chart'></div>
          <p class='text-center'>Satisfaction Level (1 thru 5 scale)</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
