<div class="clearfix"></div>
<div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered zipcodes-table'>
  <div class="row">
    <div class='col-md-6'>
      <h3 class='text-center'>Slowest Zip Codes</h3>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Zip Code</th>
            <th>Median Download Speed</th>
          </tr>
        </thead>

        <tbody>
          <% @home_median_speed_by_zipcode.first(3).each do |submission| %>
            <tr>
              <td><%= submission[0] %></td>
              <td><%= submission[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class='col-md-6'>
      <h3 class='text-center'>Fastest Zip Codes</h3>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Zip Code</th>
            <th>Median Download Speed</th>
          </tr>
        </thead>

        <tbody>
          <% @home_median_speed_by_zipcode.last(3).reverse.each do |submission| %>
            <tr>
              <td><%= submission[0] %></td>
              <td><%= submission[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
