<div class='container white-section'>
  <div class='row'>
    <div class='col-md-12'>
      <h2 class='text-center margin-top-40 margin-bottom-40'>Measuring Internet Service in Louisville</h2>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 banner-static'>
      <%= image_tag 'banner.png' %>
    </div>

    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
      <div class='banner-text results-banner-text'>
        Through www.speeduplouisville.com and www.measurementlab.net/tools/ndt, Louisvillians have submitted over <span class='total-tests'></span> internet speed tests to help improve internet service in our city!
      </div>
    </div>
  </div>
</div>
