<% content_for :title, 'Speed Up Louisville Internet Speed Test Results' %>
<% content_for :description, 'See how fast your internet speeds are with the Speed Up Louisville internet speed test' %>

<div class='title-container'>
  <div class='background-container'>
    <%= render 'show_results', submission: @submission %>
  </div>
</div>

<%= render 'mapbox' %>

<%= render 'all_results', all_results: @all_results %>

<%= hidden_field_tag :connecion_type, @submission.testing_for %>
