<% content_for :title, 'About SpeedUpAmerica' %>
<% content_for :description, 'How SpeedUpAmerica came to be' %>

<div class="col-md-7 home-wrapper prose-container col-sm-9">
  <h1>How did SpeedUpAmerica come to be?</h1>
  <hr>
  <p>
    Across the United States there is an ever increasing “digital divide” between populations that have access to broadband internet and those who do not, typically rural or lower income communities. The state of Oregon is made up of mostly rural communities and has seen first-hand the importance of rural broadband access to further opportunities for jobs, education, health care, and a higher quality of life. Lane County, US Ignite, Technology Association of Oregon, MLab, and the City of Eugene noticed a lack of current, accurate data around the internet service that rural communities receive and decided to do something about it.
  </p>
  <p>
    With the help of US Ignite, Lane County teamed up with Technology Association of Oregon’s Hack for a Cause to develop a site that will accurately test the internet speeds of every resident in the County, State, and across the Nation (SpeedUpAmerica is currently active in Oregon, Washington, and Idaho with more states coming soon). In March 2019, SpeedUpAmerica was developed to build upon SpeedUpLouisville, which was a technology platform originally built in Louisville, Kentucky to help the city’s digital inclusion efforts. SpeedUpLouisville aimed to increase transparency about internet service quality and was designed at a local hackathon with the help of PowerUp Labs and other partners.
  </p>
  <p>
    SpeedUpAmerica is a local solution to a national problem. Consumers, Internet Service Providers, and Policymakers can use actual current data points through the crowd sourced information around local broadband service speeds, prices paid, and quality of service. The site also incorporates the TestIT tests and Measurement Lab (MLab) tests that are integrated with Google.com, and are known to be the most accurate internet speed tests on the market. The goal of this website is to get on the ground truth about current internet service across the nation in order to start conversations between neighbors, and support data based solutions around funding and policies at a city, county, state, and national level that will provide high speed internet for all residents of the United States.
  </p>
</div>
