<% content_for :title, 'SpeedUpAmerica FAQ' %>
<% content_for :description, 'Frequently-Asked questions about SpeedUpAmerica and internet speed testing' %>

<div class="col-md-7 home-wrapper prose-container col-sm-9">
  <h1>SpeedUpAmerica FAQ</h1>
</div>
