<% content_for :title, 'SpeedUpAmerica FAQ' %>
<% content_for :description, 'Frequently-Asked questions about SpeedUpAmerica and internet speed testing' %>

<div class="col-md-7 home-wrapper prose-container col-sm-9">
  <h1>SpeedUpAmerica FAQ</h1>
  <hr>

  <ul>
    <li><a href="#what-is-broadband">What is broadband?</a></li>
    <li><a href="#what-is-mbps-vs-mbps-and-why-does-it-matter">What is Mbps vs. MBps and why does it matter?</a></li>
    <li><a href="#what-types-of-broadband-technology-are-there">What types of broadband technology are there?</a></li>
    <li><a href="#what-are-good-internet-speeds">What are good internet speeds?</a></li>
    <li><a href="#what-is-the-difference-between-advertised-and-delivered-internet-speeds">What is the difference between advertised and delivered internet speeds?</a></li>
    <li><a href="#why-is-my-internet-speed-so-slow">Why is my internet speed so slow?</a></li>
    <li><a href="#how-can-i-get-my-community-involved-in-this-process">How can I get my community involved in this process?</a></li>
    <li><a href="#what-information-do-i-need-in-order-to-take-the-test">What information do I need in order to take the test?</a></li>
    <li><a href="#why-do-you-want-my-location">Why do you want my location?</a></li>
    <li><a href="#what-is-the-difference-between-my-browsers-location-and-use-my-address">What is the difference between <span class="text-nowrap">“my browser’s location”</span> and <span class="text-nowrap">“use my address”</span>?</a></li>
    <li><a href="#do-you-collect-my-private-data">Do you collect my private data?</a></li>
    <li><a href="#how-can-i-tell-if-my-connection-is-wired-or-wireless">How can I tell if my connection is wired or wireless?</a></li>
    <li><a href="#how-can-i-view-the-source-code">How can I view the source code?</a></li>
    <li><a href="#how-do-i-find-specific-results">How do I find specific results?</a></li>
    <li><a href="#how-do-i-compare-geographic-regions">How do I compare geographic regions?</a></li>
  </ul>

  <h2 id="what-is-broadband">What is broadband?</h2>
  <p>
    According to the FCC, the technical definition of broadband refers to high-speed internet access that is always on and faster than the traditional dial-up access. For much of America, the technical definition is not the whole story. Broadband equals opportunity for jobs, education, health care, and a high quality of life. Like the electrification of rural America in the 1930s, broadband has the potential to bring necessary resources and opportunity to rural America.
  </p>

  <h2 id="what-is-mbps-vs-mbps-and-why-does-it-matter">What is Mbps vs. MBps and why does it matter?</h2>
  <p>
    Mbps stands for Megabit per second, which measures the speed you can move data to and from your computer. This is important for understanding how fast your internet service will be and how quick you can stream videos, download large files, etc. See the question <a href="#what-are-good-internet-speeds">What are good internet speeds?</a> for more information.
  </p>
  <p>
    While MBps or MegaBytes per second measures the amount of data you can use from your internet provider. The standard user does not usually have to deal with MBps, or the typically used larger amount term GBps (1 GigaByte per second = 1,000 MBps). People typically see these terms when dealing with their cell phone data caps. They can play the same important role in your internet service by influencing the amount of money you pay or the type of speeds you receive throughout your billing period. Some internet service providers use data caps to limit the amount of data you can consume, with either service not being available after a certain data amount (like a prepaid cell phone plan) or experiencing slower speeds and additional charges for your service (like going over on your data plan for your cell phone).
  </p>

  <h2 id="what-types-of-broadband-technology-are-there">What types of broadband technology are there?</h2>
  <p>
    Broadband includes several high-speed transmission technologies such as: Fiber, Cable Modem, Digital Subscriber Line (DSL), Wireless, and Satellite. Fiber has the highest capacity and speeds offered, with speeds moving slower from there. Below we go into some more details about the technologies (<a href="https://www.piercecountywa.gov/broadband" title="Pierce County Broadband Connectivity and Access Evaluation (April 2019). Magellan Advisors">source</a>):
  </p>
  <dl>
    <dt>Fiber</dt>
    <dd>
      <p>
        converts electrical signals carrying data into light and sends the light through transparent glass fibers about the diameter of a human hair. Fiber’s speeds are in billions of bits per second range for both download and upload speeds, with current standard networks ranging from 100 Mbps to 10 Gbps. Fiber is the highest standard of internet connection we have and typically the backbone of many urban broadband networks, as well as the preferred option when updating broadband infrastructure networks, because of its high capacity. A major barrier though is the cost of laying down fiber cable that reaches all the way to the customer, especially the amounts needed to reach rural or remote areas. If there are other types of connection, such as cable modem and DSL, used within the fiber network it creates choke points where data service can slow down.
      </p>
    </dd>

    <dt>Cable Modem</dt>
    <dd>
      <p>
        transmits digital data over the same coaxial cable that delivers your television channels. Cable internet allocates certain TV channels for carrying data to and from customers instead of television. The official name of cable broadband is Data Over Cable Service Interface Specification (DOCSIS) and is a hard-wired internet option. Cable internet is quite popular among urban and rural customers, though the transmission speeds vary depending on the type of cable modem, cable network, and traffic load.
      </p>
    </dd>

    <dt>Digital Subscriber Line (DSL)</dt>
    <dd>
      <p>
        transmits digital data over your traditional copper telephone lines using high frequencies that are not used by analog voice calls. DSL is a hard-wired internet option that depends on the distance from the customer to the closest telephone facility to determine speed and availability. This option is not available to everyone with a telephone line because it requires access to higher frequencies, which is not possible for all phone line connections to support. It is an option in rural communities, though the service might be slow due to the long distances and traffic of data from other users along that connection
      </p>
    </dd>

    <dt>Wireless</dt>
    <dd>
      <p>
        uses long-range directional antennas to operate a mobile, hotspot, or fixed connection. Fixed wireless services allow customers to access the internet from a stationary point and often require an external antenna with direct line-of-sight between the wireless transmitter and receiver. Wireless is a cheaper option than laying down physical cables, though the service can be spotty and is vulnerable to weather or other types of interference.
      </p>
      <dl>
        <dt>Hotspot wireless</dt>
        <dd>
          <p>
            is typically experienced through the connection of a router to a hard-wire option such as cable or fiber, which then allows wireless devices to use that hard-wired connection to transmit data (e.g. using your laptop within your home or a coffee shop without an Ethernet cable). Having a hotspot provide complete internet service to a customer can be an option, though usually only for urban customers because of the hard-wire internet infrastructure in place that rural communities typically lack.
          </p>
        </dd>
      </dl>
    </dd>

    <dt>Satellite</dt>
    <dd>
      <p>
        uses licensed radio spectrum to send data all around the world. The signal goes from your satellite antenna to a satellite located in space. This 46,000 mile roundtrip and the limited capacity of radio signals to transmit large amounts of data quickly causes most satellite connections to be slow and vulnerable to weather. Satellite is considered a last resort for all but the most rural and remote areas because the current satellite technology does not meet the FCC’s 24/3 Mbps threshold definition of broadband internet service.
      </p>
    </dd>
  </dl>

  <h2 id="what-are-good-internet-speeds">What are good internet speeds?</h2>
  <p>
    Internet speed is measured by how much data the connection can download (download speeds) or upload (upload speeds) per second. Having fast download speeds are typically important for most households because that affects streaming TV, downloading online books, and viewing online classes; while upload speeds are important for video conferencing, telecommuting, uploading to the cloud, and using online health care services. Internet speed is typically measured by Megabits per second (Mbps), which shows the speed of data that can be transferred through the connection. Sometimes Kilobits per second (Kbps) and Gigabits per second (Gbps) are also used for, respectively, slower connections (1 Kbps = 0.001 Mbps) or faster connections (1 Gbps = 1,000 Mbps).
  </p>
  <p>
    The FCC defines broadband as internet service that has a minimum capacity of 25 Mbps download speeds and 3 Mbps upload speeds. Anything below these speeds is considered not adequate broadband internet connection. This is why SpeedUpAmerica is trying to get real, on the ground data of what speeds customers are getting from their internet service providers. With on the ground truth, customers, internet service providers, elected officials and governments can improve internet services.
  </p>
  <p>
    For you specifically, it depends on what type of connection you have. If you don’t know what type of internet service you have, you can look for your internet package on your monthly bill or call your service provider and ask. We have also included some examples of the different internet services for a rough estimation of what type of service you have or are using: (these can be variable depending on where you are located and what type of connections you use).
  </p>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center">Type of Internet Service</th>
        <th class="text-center">Promoted Download Speeds</th>
        <th class="text-center">Promoted Upload Speeds</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dial-Up Access</td>
        <td>56 Kbps<sup><a href="#footnote-2">2</a></sup></td>
        <td>Slower than 56 Kbps<sup><a href="#footnote-2">2</a></sup></td>
      </tr>
      <tr>
        <td>Digital Subscriber Line (DSL)</td>
        <td>5–35 Mbps<sup><a href="#footnote-1">1</a></sup></td>
        <td>1–10 Mbps<sup><a href="#footnote-1">1</a></sup></td>
      </tr>
      <tr>
        <td>Digital Carrier Service (T-1s)</td>
        <td>1.5 Mbsp<sup><a href="#footnote-2">2</a></sup></td>
        <td>Slower than 1.5 Mbps<sup><a href="#footnote-2">2</a></sup></td>
      </tr>
      <tr>
        <td>Cable Modem (DOCSIS)</td>
        <td>10–150 Mbps<sup><a href="#footnote-1">1</a></sup></td>
        <td>5–50 Mbps<sup><a href="#footnote-1">1</a></sup></td>
      </tr>
      <tr>
        <td>Fiber</td>
        <td>250 Mbps – 1 Gbps<sup><a href="#footnote-1">1</a></sup></td>
        <td>250 Mbps – 1 Gbps<sup><a href="#footnote-1">1</a></sup></td>
      </tr>
      <tr>
        <td>Wireless (mobile, hotspot, fixed antenna)</td>
        <td>56 Kbps – 54 Mbps<sup><a href="#footnote-2">2</a></sup></td>
        <td>Slower than 56 Kbps – 54 Mbps<sup><a href="#footnote-2">2</a></sup></td>
      </tr>
      <tr>
        <td>Satellite</td>
        <td>Below 25 Mbps<sup><a href="#footnote-2">2</a></sup></td>
        <td>Below 3 Mbps<sup><a href="#footnote-2">2</a></sup></td>
      </tr>
    </tbody>
  </table>
  <div>
    <small>
      <sup id="footnote-1">1</sup>
      DSL vs Cable vs Fiber: Comparing Internet Options (2019). Broadband Now. <a href="https://broadbandnow.com/guides/dsl-vs-cable-vs-fiber">https://broadbandnow.com/guides/dsl-vs-cable-vs-fiber</a>
    </small>
  </div>
  <div>
    <small>
      <sup id="footnote-2">2</sup>
      Pierce County Broadband Connectivity and Access Evaluation (April 2019). Magellan Advisors. <a href="https://www.piercecountywa.gov/broadband">https://www.piercecountywa.gov/broadband</a>
    </small>
  </div>

  <h2 id="what-is-the-difference-between-advertised-and-delivered-internet-speeds">What is the difference between advertised and delivered internet speeds?</h2>
  <p>
    On an individual level, let’s say you buy an internet package that offers 54 Mbps download speeds. This means you have the ability to reach 54 Mbps of speed to transfer data. You might think that advertised speed is what you will get every minute of every day… unfortunately that is not the case. Actual delivered internet speeds vary due to many different factors including - how many devices are currently using your internet, your web applications’ requirements for working properly, the age of your router and ground cables, what other internet users around you are doing, the weather, and what type of backend connections are taking your data to and from your internet provider’s nearest connection hub. These complications and many more not listed are what cause your delivered internet speeds to drop from slightly to significantly below the advertised internet speed package you bought, which is why SpeedUpAmerica has created an internet speed test for your individual internet connection and offers data on other tests completed at a City, County, and State level.
  </p>
  <p>
    On an institutional level, the FCC does collect internet service data and puts it into maps as well. This data is voluntarily, self-reported by the internet service providers and can sometimes not represent the actual everyday internet service provided to their customers. SpeedUpAmerica’s partners – Lane County, US Ignite, Technology Association of Oregon, MLab, and the City of Eugene – had noticed the discrepancies of these maps compared to people’s reported internet service and wanted to get on the ground truth around the actual internet service, especially in areas that have been traditionally underserved. SpeedUpAmerica uses the most up-to-date internet speed tests from MLab and ITTest and is working towards having every neighborhood’s actual internet service recorded. It is our hope that this data will lead to customers, internet service providers, elected officials, and local governments seeing the gaps in broadband internet service and be able to make strategic actions towards higher speed internet for all.
  </p>

  <h2 id="why-is-my-internet-speed-so-slow">Why is my internet speed so slow?</h2>
  <p>
    This can be based on a variety of factors, with the main ones being:
  </p>
  <ul>
    <li>
      <p><strong>Multiple Users/Connected Devices:</strong> If you have multiple users/devices on your network they can slow down your speed because their data needs is taking up space on your internet bandwidth.</p>
    </li>
    <li>
      <p><strong>Using a Virtual Private Network (VPN):</strong> A VPN gives you online privacy by creating an individual private network within your internet connection that allows you to encrypt your internet data. While this is a great tool against internet hackers (and to overcome censorship blocks), the creation of another network within your internet connection typically will result in slower internet speeds because it requires more data (around 5–15%) and has to transfer to your VPN’s private server as well (which will increase the distance it has to go).</p>
    </li>
    <li>
      <p><strong>Location:</strong> If you are working far away from your WiFi modem and router (especially if there is interference such as thick walls or floors), then the signal between your router and computer degrades.This can cause a loss of bandwidth capacity and slow down your speeds.</p>
    </li>
    <li>
      <p><strong>Hardware Issues:</strong> This could be from your computer not having enough memory (RAM) to process your data, your router/modem being out of date, or your internet cables that connect your house being old/having lower bandwidth capacity. If you haven’t checked with your internet service provider about your modem/router, it would be good to give them a call and see what might be causing the slow service.</p>
    </li>
    <li>
      <p><strong>Internet Service Provider’s Infrastructure:</strong> There can be bottlenecks for your data depending on what is being used for the different connections that get your data from your location to your internet service provider’s server and to the internet. For example if your area has DSL wiring that is connected to a main fiber backhaul line and you are located at the end of the line, then your data will have a longer way to go and will encounter more competition from other users before it can get to the servicer and back to your computer.</p>
    </li>
  </ul>

  <h2 id="how-can-i-get-my-community-involved-in-this-process">How can I get my community involved in this process?</h2>
  <p>First, get everyone to take the test!</p>
  <p>
    Next, have your community go through the data collected for your area and see where there might be places with unserved or underserved community members.
  </p>
  <p>
    Once you know the areas without high speed internet access, then local officials and local internet service providers can work together and build the infrastructure needed to get high speed internet coverage everywhere in your community.
  </p>

  <h2 id="what-information-do-i-need-in-order-to-take-the-test">What information do I need in order to take the test?</h2>
  <p>
    If you are checking your mobile data, or work or public connection, then all you need is to input your location, rate your level of service satisfaction for internet speed and value, and click Test My Speed.
  </p>
  <p>
    For checking your residential information it’s the same as above with the addition of some other optional survey questions that include your connection type, monthly bill, and advertised download speed. For a helpful guide please <a href="/SpeedUpAmerica-user-guide.pdf">see this PDF</a>.
  </p>

  <h2 id="why-do-you-want-my-location">Why do you want my location?</h2>
  <p>
    Your location is important to getting accurate data for governmental policy changes and funding of underserved areas. We recommend you select “use my browser’s location” or input your specific address because it can lead to better real time knowledge on a neighborhood level. If you do not feel comfortable with giving your specific location, you can choose not to use your location at all. We want this tool to be useful for everyone and by checking your actual internet speeds periodically you can have a better understanding of what you are paying for. By using your location, this information can help to improve your internet service and that of your community.
  </p>

  <h2 id="what-is-the-difference-between-my-browsers-location-and-use-my-address">What is the difference between <span class="text-nowrap">“my browser’s location”</span> and <span class="text-nowrap">“use my address”</span>?</h2>
  <p>
    The only difference is whether you want to type in your address or have your internet browser provide your location instead. <span class="text-nowrap">“My browser’s location”</span> uses the same geolocation technology that you use for Google Maps, etc.
  </p>

  <h2 id="do-you-collect-my-private-data">Do you collect my private data?</h2>
  <p>
    No. We do not collect any of your private data. The only information we ask for is your location, and general details on your internet service. These general details vary depending on what type of internet connection you are testing. If you are testing a residential internet connection we ask for:
    <ul>
      <li>The type of connection you have</li>
      <li>Estimated price you pay per month</li>
      <li>Your advertised download speed (Mbps)</li>
      <li>A rating of your internet speeds and service</li>
    </ul>
  </p>

  <h2 id="how-can-i-tell-if-my-connection-is-wired-or-wireless">How can I tell if my connection is wired or wireless?</h2>
  <p>
    Your connection is based on how your computer is getting internet. If your computer has an Ethernet cable that is connecting you to the internet, then your connection is wired. If your computer connects to the internet without using a cable, then your connection is wireless.
  </p>
  <p>
    Wireless has two different options to choose from: wireless, single device and wireless, multiple devices. This distinction is to see if you have multiple devices in your home that access the internet because the number of devices accessing the internet at one time can cause a decrease in your internet service speeds.
  </p>

  <h2 id="how-can-i-view-the-source-code">How can I view the source code?</h2>
  <p>
    You can view and/or download the source code from <a href="https://github.com/Hack4Eugene/SpeedUpAmerica">SpeedUpAmerica's GitHub repository</a>. The entire codebase is open source, transparent, and available to the public for free.
  </p>

  <h2 id="how-do-i-find-specific-results">How do I find specific results?</h2>
  <p>
    In the map and “Explore the Data” section, you can change between the different types of internet speeds by using the dropdown menu and selecting download or upload speeds. This information can then be sorted by zip code or census tract, and internet service providers. We have tried to make the website as user friendly as possible, if you are having trouble manipulating the data, please see the links below for step-by-step instructions:
  </p>
  <ul>
    <li><a href="/interact-with-the-map.pdf">Filtering Data in the SpeedUpAmerica Map</a> <small>(PDF)</small></li>
    <li><a href="/how-to-explore-the-graphs.pdf">Filtering Data in the Explore the Data Section</a> <small>(PDF)</small></li>
  </ul>
  <p>
    Another way to filter the data is to go to the bottom of the Results page and in the “About SpeedUpAmerica” section, click on Export Data. This will allow you to download the currently collected data and manipulate it in any spreadsheet program.
  </p>

  <h2 id="how-do-i-compare-geographic-regions">How do I compare geographic regions?</h2>
  <p>
    The best way is to download the data in CSV format by going to the bottom of the <%= link_to 'Results page', result_page_path %> and in the <span class="text-nowrap">“About SpeedUpAmerica”</span> section, click on Export Data. You can import the downloaded file into any spreadsheet program in order to filter, sort, and manipulate the data in as many different ways as you want.
  </p>
  <p>
    Another option is to use the SpeedUpAmerica Map. Here you click on the different zip codes or census tracts you want to compare. You will get a pop up box with the number of tests completed in the zip code, median download/upload speed (depending on your type filter), and fastest download/upload speed. You can copy this information into a separate document and then click on the other geographic regions you want to compare.
  </p>
</div>
