@media only screen and (min-width: 768px) {
  .navbar {
    border-radius: 0 !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .title-container h1 {
    font-size: 24px
  }

  .navbar {
    height: 50px
  }

  #map-filters {
    h3 {
      font-size: 22px
    }
  }

  .navbar-text {
    font-size: 18px
  }
  #social-share-button-wrapper span {
    margin-right: 15px;
    float: right;
    line-height: 55px
  }
  #social-share-button-wrapper {
    padding-right: 0
  }

  #mbps-container {
    display: none;
  }

  .social-share-btn,
  .resultTableForDesktop .social-share-btn {
    display: block;
    margin: 10px 0;
    padding: 12px 45px 12px 6px;
    text-align: center;
  }

  .background-container {
    padding: 0 10px 0 10px;
  }

  .results-sharing-box {
    padding: 20px 10px 10px 10px;
  }

  .social-sharing-links {
    margin-bottom: 35px;
  }

  .show-on-mobile {
    display: block;
  }

  .hide-on-mobile {
    display: none;
  }

  .stats-date {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.logoPadding {
  padding-top: 15px;
  padding-bottom: 15px
}

.resultTxt {
  display: block;
  text-align: left;
  float: right;
}

@media only screen and (max-width: 880px) {
  .social-share-btn {
    padding: 12px 18px 12px 6px;
  }

  select.chosen-select {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h2 {
    font-size: 22px !important;
  }

  .rating-sm {
    font-size: 2.3em;
  }

  .navbar-brand {
    font-size: 16px !important
  }

  .home-wrapper {
    margin: 10px;
    margin-top: -40px;
  }

  .mobile-wrapper-margin {
    margin-top: -10px;
  }

  .logoHolder {
    img {
      width: 50%
    }
  }

  .navbar-text {
    span {
      display: block;
      padding-top: 5px
    }
  }

  .social-share-button-twitter,
  .social-share-button-facebook,
  .social-share-button-linkedin {
    border: none;
  }

  table.resultTable {
    td {
      padding-left: 5px !important;
      padding-right: 5px !important
    }
  }

  #social-share-button-wrapper {
    padding-right: 0;
    padding-left: 0;
    padding-top: 12px
  }

  #introduction {
    li {
      width: 48%;

      a {
        width: 70%
      }
    }
  }

  .powerUpImmg {
    width: 50%
  }
  .title-container h1 {
    font-size: 18px
  }
  .navbar-header {
    p {
      font-size: 16px
    }
  }
  #social-share-button-wrapper {
    .social-share-button {
      line-height: normal;
      a {
        width:25px;
        height: 25px;
        margin-right: 5px;
        text-align: center;
        &.social-share-button-twitter img {
          width: 25px;
          height: 25px
        }

        &.social-share-button-facebook img {
          width: 18px;
          height: 18px
        }

        &.social-share-button-linkedin img {
          width: 16px;
          height: 16px
        }
      }
    }

    span {
      line-height: 30px !important
    }
  }
  #form-container {
    padding-right: 0;
    padding-left: 0;
    .checkboxes-container {
      padding: 0 5%;
    }
  }
  #map-container #map-filters {
    min-height: 490px !important;
    padding-bottom: 20px;
    button {
      min-height: 44px !important;
      font-size: 11px;
      padding: 6px 8px;
    }
  }
  .powerLogo img {
    width:130px;
  }
  #all-results {
    h2 {
      font-size: 18px
    }
    table
    th {
      font-size: 12px
    }
  }
  div#map {
    width:100%;
    height: 300px !important;
  }
  div#map-filters {
    width: 100%
  }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1299px) {
  .rating-sm {
    font-size: 1.7em;
  }
}

.navbar-text {
  margin: 10px 5px 2px 0 !important;
  font-size: 20px;
}

.navbar-brand {
  padding-right: 5px !important;
  padding-top: 12px !important
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {
  .rating-sm {
    font-size: inherit;
  }

  .rating .star {
    font-size: 1.7em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 900px) {
  table td[class*="col-"],
  table th[class*="col-"] {
    font-size: 12px
  }
}


/*=====================RESPONSIVENESS SPEEDTEST=========================*/


@media only screen and (max-width: 1024px) {
  body.in-stats h1  {
    font-size: 30px;
  }
  .banner-text {
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
  }
  .improve-btn {
    font-size: 18px;
  }
  .white-section {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .banner-static img,
  .bottom-banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .residential-tests p {
    font-size: 16px;
  }
  .residential-tests h4 {
    font-size: 36px;
  }
  .data-count {
    font-size: 46px;
  }
  .speed-value,
  .value-comparison {
    font-size: 16px;
  }
  .average-speed {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-mrg-bottom-30 {
    margin-bottom: 30px;
  }
  ul.header-links {
    background: white;
    margin-top: 0;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    color: #333;
  }
  .navbar-inverse .navbar-toggle:hover {
    background: #333;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    color: #333;
  }
  .navbar-inverse .navbar-toggle {
    border-color: white;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: #333 !important;
  }
  .service-provider-section select,
  #stats_filters select {
    width: 100%;
    position: relative;
    display: block;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    white-space: nowrap;
    min-height: 40px !important;
    border-radius: 4px;
    line-height: 40px;
    color: black;
  }
}

@media only screen and (max-width: 736px) {
  .stats-header {
    font-size: 20px;
  }
  body.in-stats h1 {
    font-size: 18px;
  }
  body.in-stats h3 {
    font-size: 16px;
  }
  .banner-text {
    font-size: 16px;
    line-height: 26px;
  }
  .improve-btn {
    font-size: 14px;
  }
  .data-count,
  .residential-tests h4 {
    font-size: 24px;
  }
  .test-submit,
  .avrg-section h4 {
    font-size: 16px;
  }
  .residential-tests {
    padding-top: 0;
  }
  .residential-mobile-view {
    margin-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 20px;
  }
  .mobile-avg-speed {
    margin-bottom: 20px;
  }
  .mobile-avg-speed .red-text,
  .mobile-avg-speed .green-text {
    text-align: center;
  }
  .avrg-section {
    padding-top: 0;
  }
  .brought-by {
    font-size: 16px;
  }
  .footer-logo {
    padding-bottom: 30px;
  }
}
