/* SpeedUp Region Theme: Oregon-es */

$region: oregon-es;
$color1: #000099; /* primary color */
$color2: #55b6c7; /* secondary color */
$bgcolor1: #33996611;
$bgcolor2: #ffff3311;
$bgcolor3: #ff660011;
$bgcolor4: #99663311;
$bgcolor5: #6666cc11; 
$bgcolor6: #55b6c7;  /* secondary color */
$bgcolor7: #000099; /* primary color */
$border-radius1: 26px;
$box-shadow1: 7px 7px 7px #777777;
$text-shadow1: 5px 5px 5px #999;
$border1: 0;
$buttoncolor1: #FFFFFF;
$fontsize1: 16px;
$padding1: 30px 50px 30px 50px;
$margin1: 0px auto 20px;
/* $image1: https://geology.com/state-map/maps/oregon-physical-map.gif; */
$bg1: url(https://upload.wikimedia.org/wikipedia/commons/c/cd/Central_Oregon_landscape.jpg) center center; 


.region.#{$region} .home-wrapper {
/*  
  position: relative;
  z-index: 1;
*/
}

.region.#{$region} .home-wrapper::before {
/*  
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background:$bg1;
	bacgkround-fit: contain;
*/
}

.region.#{$region} h1 {
	color: $color2;
}

.region.#{$region} h2 {
	color: $color1;
}

.region.#{$region} div#region-form-step-0 {
	margin-bottom:200px;
}

.region.#{$region} .hide {
		transition:1s ease-in-out;
}


.region.#{$region} div#access-div {
    background:$bgcolor1;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}

.region.#{$region} div#agree-div {
    background:$bgcolor4;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}

.region.#{$region} #connectedornot-div{
    background:$bgcolor2;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}


.region.#{$region} #address-div{
    background:$bgcolor4;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}

.region.#{$region} #price-div{
    background:$bgcolor3;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
		overflow:auto;
}

.region.#{$region} #testbutton-div{
    background:$bgcolor5;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}

.region.#{$region} #form-container p {
    font-size: 18px;
    color: $color1;
    line-height: 28px;
}

.region.#{$region} .checkbox label {
    font-size: 18px;
    color: $color1;
    line-height: 20px;
}
 
.region.#{$region} .shrink {
	 font-size:14px;
	 padding:10px;
}


.region.#{$region} #address-input {
    font-size: 16px;
    max-width: 700px;
		width:100%;
}



.region.#{$region} .checkbox label::before {
    width: 20px;
    height: 20px;
}

.region.#{$region}  .checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
    font-size: 16px;
		margin:3px 0px 0px -22px;
}

.region.#{$region} button#test-speed-btn {
    border-radius: 20px;
		transition: .5s ease-in-out;
		font-size:26px;
		width: 250px;
    padding: 20px;
    background-color:$bgcolor6;
}

.region.#{$region} button#test-speed-btn:hover {
    background-color:$bgcolor7;
		opacity:1;
}

.region.#{$region} .export-btn {
    background-color:$bgcolor6;
}

.region.#{$region} .export-btn:hover {
    background-color:$bgcolor7;
}


.region.#{$region}  button#enterpricebtn {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    color: $buttoncolor1;
    border-radius: 10px;
    border: 0;
    background-color: $bgcolor6;
    font-weight: 600;
		transition:0.5s ease-in-out;
}

.region.#{$region}  button#enterpricebtn:hover {
    background-color: $bgcolor7;
}



.region.#{$region} .background-container {
    background: $bgcolor1;
    padding: 20px;
}

.region.#{$region} .container {
    padding: 30px;
}

.region.#{$region}  h3 {
    color: $color1;
}

.region.#{$region} h4 {
    color: $color2;
}

.region.#{$region} table.col-md-6.text-center {
    float: none;
    margin: auto;
		width: auto;
}