/* SpeedUp Region Theme: California */


$region: california;
$color1: #0033cc; /* primary color */
$color2: #ff9900; /* secondary color */
$bgcolor1: #00339911;
$bgcolor2: #0066cc11;
$bgcolor3: #ffcc6611;
$bgcolor4: #cc006611;
$bgcolor5: #00993311;
$bgcolor6: #ff9900; /* secondary color */
$bgcolor7: #0033cc;  /* primary color */
$border-radius1: 26px;
$box-shadow1: 7px 7px 7px #777777;
$text-shadow1: 5px 5px 5px #999;
$border1: 0;
$buttoncolor1: #FFFFFF;
$fontsize1: 16px;
$padding1: 30px 50px 30px 50px;
$margin1: 0px auto 20px;
$bg1: #FFFFFF; 


.home-wrapper {
	background:$bg1;
}

.region.#{$region} .home-wrapper::before {

}

.region.#{$region} h1 {
	color: $color2;
}

.region.#{$region} h2 {
	color: $color1;
}

.region.#{$region} div#region-form-step-0 {

}

.region.#{$region} #region-form-step-0{
	margin-bottom:0px;
}

.region.#{$region} .hide {
		transition:1s ease-in-out;
}

.region.#{$region} div#access-div {
    background:$bgcolor1;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}

.region.#{$region} div#agree-div {
    background:$bgcolor4;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}

.region.#{$region} #connectedornot-div{
    background:$bgcolor2;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}


.region.#{$region} #address-div{
    background:$bgcolor3;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}

.region.#{$region} #price-div{
    background:$bgcolor4;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
		overflow:auto;
}

.region.#{$region} #testbutton-div{
    background:$bgcolor5;
    display: block;
    padding: $padding1;
    text-align: left;
		border-radius: $border-radius1;
		border: $border1;
    box-shadow: $box-shadow1;
		font-size: $fontsize1;
		max-width: 700px;
		width:100%;
		margin: $margin1;
}

.region.#{$region} #form-container p {
    font-size: 18px;
    color: $color1;
    line-height: 28px;
}

.region.#{$region} .checkbox label {
    font-size: 18px;
    color: $color1;
    line-height: 20px;
}
 
.region.#{$region} .shrink {
	 font-size:14px;
	 padding:10px;
}


.region.#{$region} #address-input {
    font-size: 16px;
    max-width: 700px;
		width:100%;
}



.region.#{$region} .checkbox label::before {
    width: 20px;
    height: 20px;
}

.region.#{$region}  .checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
    font-size: 16px;
		margin:3px 0px 0px -22px;
}

.region.#{$region} button#test-speed-btn {
    border-radius: 20px;
		transition: .5s ease-in-out;
		font-size:26px;
		width: 250px;
    padding: 20px;
    background-color:$bgcolor6;
}

.region.#{$region} button#test-speed-btn:hover {
    background-color:$bgcolor7;
		opacity:1;
}

.region.#{$region} .export-btn {
    background-color:$bgcolor6;
}

.region.#{$region} .export-btn:hover {
    background-color:$bgcolor7;
}



.region.#{$region}  button#enterpricebtn {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    color: $buttoncolor1;
    border-radius: 10px;
    border: 0;
    background-color: $bgcolor6;
    font-weight: 600;
		transition:0.5s ease-in-out;
}

.region.#{$region}  button#enterpricebtn:hover {
    background-color: $bgcolor7;
}

.region.#{$region} .container {
    padding: 30px;
}

.region.#{$region} .background-container {
    background: $bgcolor1;
    padding: 20px;
}

.region.#{$region}  h3 {
    color: $color1;
}

.region.#{$region} h4 {
    color: $color2;
}

.region.#{$region} table.col-md-6.text-center {
    float: none;
    margin: auto;
		width: auto;
}